@font-face { 
  font-family: Rodondo; src: url('Rodondo.otf'); 
  font-family: Rain World Dialogue; src: url('rain-world-menu.ttf');
} 

:root{
  --black: #080605;
  --white: #FFFFFF;
  --teal: #6DEECA;
  --orange: #F55612;
}

body{
  background-color: var(--black);
  font-family: Rodondo;
  font-size: 35px;
}

h1{
  font-family: Rodondo;
  font-weight: 300;
  font-size: 80px;
  letter-spacing: 3px;
  margin-bottom: 0.15em;
  color: var(--orange);
}
    
.container {
  max-width: 1080px;
  margin: 0 auto
}


masthead {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  padding: 0em;
  color: var(--white);
  margin-bottom: 1em;
  margin-top: 30px;
  width: 100%;
  
}

masthead ul {
  padding: 0;
}

masthead li {
  font-family: Rodondo;
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

masthead a {
  text-decoration: none;
  color: var(--teal);
  transition: all 0.3s ease 0s;
}

masthead a:hover {
  color: var(--orange);
}

* {
  box-sizing:border-box;
  margin: 0px;
  padding: 0;
}


.slideshow-container {
  max-width: 1080px;
  position: relative;
  margin: auto;
  border: 2px solid var(--orange);
}

.slideshow-container img1{
  width: 1920px;
  height: auto;
  content: url('../images/Five\ Pebbles\ Card.png');
}

.slideshow-container img2{
  width: 1920px;
  height: auto;
  content: url('../images/Looks\ to\ the\ Moon\ Card.png');
}

.slideshow-container img3{
  width: 1920px;
  height: auto;
  content: url('../images/Seven\ Red\ Suns\ Card.png');
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: var(--teal);
}

.text {
  max-width: 580px;
  font-family: Rain World Dialogue;
  color: var(--white);
  font-size: 15px;
  padding: 8px 60px;
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the text is on top of the image */
  text-align: left;
  width: calc(60% - 60px);
  height: 400px;
}

/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
  .text {
    position: static; /* Remove absolute positioning */
    transform: none; /* Remove translate */
    width: 90%; /* Set width for smaller screens */
    margin: 20px auto; /* Center horizontally */
    text-align: center; /* Center text */
    padding: 20px; /* Add padding */
    color: var(--white); /* Change text color */
  }

  .slideshow-container{
    border: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mySlides{
    flex: 1;
  }

  h1{
    font-family: Rodondo;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 0.25em;
  }

  .slideshow-container img1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    content: url('../images/Five\ Pebbles\ Card\ Cropped.png');
  } 
  .slideshow-container img2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    content: url('../images/Looks\ to\ the\ Moon\ Card\ Cropped.png');
  }
  .slideshow-container img3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    content: url('../images/Seven\ Red\ Suns\ Card\ Cropped.png');
  }
}

@media screen and (max-width: 768px) {
  .slideshow-container img:nth-of-type(1) {
    content: url('../images/Five\ Pebbles\ Card\ Cropped.png'); /* Replace with your cropped image source */
    object-fit: cover; /* Ensure the image covers the entire container */
    height: 300px; /* Set the height as needed */
  }
  
  .slideshow-container img:nth-of-type(2) {
    content: url('../images/Looks\ to\ the\ Moon\ Card\ Cropped.png'); /* Replace with your cropped image source */
    object-fit: cover; /* Ensure the image covers the entire container */
    height: 300px; /* Set the height as needed */
  }

  .slideshow-container img:nth-of-type(3) {
    content: url('../images/Seven\ Red\ Suns\ Card\ Cropped.png'); /* Replace with your cropped image source */
    object-fit: cover; /* Ensure the image covers the entire container */
    height: 300px; /* Set the height as needed */
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}